*{
    padding: 0px;
    margin: 0px;
}
body {
    background-image: linear-gradient(#b5058c,#2116f79a);
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
}
#forms{
   margin-top: 10%;
   background-color: rgba(0, 0, 0, 0.308);
   padding: 20px;
   top: 50%;
   box-shadow: 0 0 5px 0;
   background: inherit;
   backdrop-filter: blur(10px);
}
input{
    background-color: transparent;
}
h1{
    font-family: "DM Serif Text", serif;
    font-weight: bold;
}
@media(max-width:480px){
    #forms{
        margin-top: 40%;
    }
}